@media (min-width:760px) {

    .highcharts-figure-large {
        display: inline-block;
        width: 100%; height: 100%;
    }

    .highcharts-figure-small {
        float: left;
        width: 50%; height: 100%;
    }

    footer {
        display: inline-block;
    }
}